.box{
	margin-bottom: 10px;
	min-height: 100px;
	background-color: red;
}
.box1{
	margin-bottom: 10px;
	min-height: 100px;
	background-color: green;
}
.box2{
	margin-bottom: 10px;
	min-height: 100px;
	background-color: #00B4B4;
}
.box3{
	margin-bottom: 10px;
	min-height: 100px;
	background-color: red;
}
.box4{
	margin-bottom: 10px;
	min-height: 100px;
	background-color: green;
}
.box5{
	margin-bottom: 10px;
	min-height: 100px;
	background-color: #00B4B4;
}
.box6{
	margin-bottom: 10px;
	min-height: 100px;
	background-color: green;
}
.box7{
	
	min-height: 100px;
	background-color: #00B4B4;
}